.searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.auto{
    width: 100%;
}
.card {
    list-style: none;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    max-width: 70rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    background: white;
    margin-top: 70px;
    border-color: black;
    border-style: solid;
    margin-bottom: 10px;
 
  }

  @media screen and (max-width: 600px) {
    .searchBar {
        width: 70%;
        margin: auto;
    }
  }