.favDiv{
    width: 10%;
     
    float: right;
  width: 200px;
  padding: 10px;
  
}

.icon:hover{
    color: red; 
    
}
.icon.green:hover{
    color: red; 
    
}
.icon.green{
    size: 4rem;
    color:#66cc99;
    margin-right: 5px;
    float: right;
    cursor: pointer;
}
.icon.red{
    size: 4rem;
    color: red;
    margin-right: 5px;
    float: right;
    cursor: pointer;
}
.btn{   
    background-color:#66cc99;   
}
.btn:hover{
    background-color: red; 
}

@media screen and (max-width: 600px) {
    .favDiv {
        width: 100%;
    }
    .btn{   
        display: none;;   
    }
  }